body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: hwb(5 12% 17%);
    background-image: url('https://wallpapers.com/images/hd/minimalist-black-math-pi-0eazc5s16qupbusv.webp');
    background-size: cover; /* Optional: Adjusts the size of the background image */
    background-repeat: no-repeat;
}

input[type="number"], button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

button {
    cursor: pointer;
}

#feedback {
    font-size: 18px;
    margin-top: 20px;
}

#attempts {
    margin-top: 10px;
}
