body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: hwb(5 12% 17%);
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

input[type="number"], button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

button {
    cursor: pointer;
}

#feedback {
    font-size: 18px;
    margin-top: 20px;
}

#attempts {
    margin-top: 10px;
}
